.App {
  text-align: center;
}

/* Navbar */
.navBar {
  position: fixed;
  z-index: 99;
  
}

.customNavBar {
  width: 100%;
  overflow: hidden;
  opacity: 40%;
}

.logo {
  margin-top: -148px;
  position: relative;
  width: 4.8%;
}

.navRow {
  position: absolute;
  top: 0;
  margin-top: 14px;
  margin-left: 0;
  width: 100%;
}

.navList {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  font-family: 'Do Hyeon', sans-serif;
  color: white;
  letter-spacing: .4px;
}

.links {
  color: white;
}

.links:hover {
  text-decoration: none;
  color: white;
}

.fa-chevron-right {
  margin-left: 5px;
  font-size: 12px;
  color: #2cbf81;
  transition: .4s;
}

.navList > li:hover .fa-chevron-right {
  transition: .4s;
  transform: rotate(90deg);
}

.navDrop {
  padding-bottom: 14px;
}

.navDrop > ul {
  margin-top: 13px;
  padding-left: 0;
  position: absolute;
  display: none;
  list-style: none;
  background-color: rgb(82, 82, 82, .4);
  text-align: left;
}

.navDrop:hover > ul {
  display: block;
}

.navDrop > ul > li {
  padding: 6px 12px;
  transition: .3s;
}

.navDrop > ul > li:hover {
  background-color: #2cbf81;
  transition: .3s;
}

.linkUnder::after {
  content: '';
  width: 0;
  height: 1.5px;
  display: block;
  background: #2cbf81;
  transition: .4s;
}

.linkUnder:hover::after {
  width: 100%;
}

.fa-shopping-cart {
  font-size: 16px;
}

.fa-shopping-cart:hover {
  color: #2cbf81;
  transition: .4s;
}

.mr60 {
  margin-right: 60px;
}

/* Footer */
.footer {
  background-color: #2cbf81;
  height: 200px;
}

/* Landing Page */
.landMain {
  background-image: url('/backgroundSample.jpg');
  background-size: cover;
  height: 100vh;
}

.landDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  height: 100vh;
  width: 100%;
}

/* Events */
.calendar {
  background-color: lightblue;
  padding-top: 120px;
  padding-bottom: 50px;
}

.calendarContainer {
  max-width: 1000px;
}

.monthNavLeft {
  text-align: left;
}

.monthNavRight {
  text-align: right;
}

.dateDisabled {
  color: grey;
}

.dateSelected {
  background-color: red !important;
}

.weekdayCell {
  padding: 5px 0;
  background-color: yellow;
  border: 0.5px solid lightgrey;
}

.dateCell {
  text-align: right;
  padding: 5px 10px;
  background-color: white;
  border: 0.5px solid lightgrey;
  height: 90px;
}