.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr60 {
  margin-right: 60px;
}

.mb20 {
  margin-bottom: 20px;
}

.App {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

/* Navbar */
.navBar {
  background: url('/images/customNavBar.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 110px;
  position: fixed;
  z-index: 99;
}

.logo {
  margin-top: 10px;
  width: 4.8%;
}

.navRow {
  position: absolute;
  top: 0;
  margin-top: 14px;
  margin-left: 0;
  width: 100%;
}

.navList {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  font-family: 'Do Hyeon', sans-serif;
  color: white;
  letter-spacing: .4px;
}

.links {
  color: white;
}

.links:hover {
  text-decoration: none;
  color: white;
}

.navDrop > span > i {
  margin-left: 5px;
  font-size: 12px;
  color: #0388A6;
  transition: .4s;
}

.navList > li:hover .fa-chevron-right {
  transition: .4s;
  transform: rotate(90deg);
}

.navDrop {
  padding-bottom: 14px;
}

.navDrop > ul {
  margin-top: 14px;
  padding-left: 0;
  position: absolute;
  display: none;
  list-style: none;
  background-color: rgb(21, 18, 38, .6);
  text-align: left;
}

.navDrop:hover > ul {
  display: block;
}

.navDrop > ul > li {
  padding: 7px 14px;
  transition: .5s;
  background: linear-gradient(to right, #0388A6 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.navDrop > ul > li:hover {
  background-position: left bottom;
  transition: .5s;
}

.linkUnder::after {
  content: '';
  width: 0;
  height: 1.5px;
  display: block;
  background: #0388A6;
  transition: .4s;
}

.linkUnder:hover::after {
  width: 100%;
}

/* Footer */
.footer {
  background-color: #151226;
  color: white;
}

.footerCompanyInfo {
  padding: 40px 0 80px 0;
}

.footerMediaIconList {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
}

.footerMediaIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin-right: 10px;
  background-color: #282249;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

.footerMediaIcon > a {
  color: #0388A6;
  transition: .4s;
}

.footerMediaIcon:hover > a {
  color: #BF307F;
  transition: .4s;
}

.companyDetailsList {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.companyDetail {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
}

.companyDetail > div > i {
  font-size: 16px;
  margin-right: 15px;
  color: #0388A6;
}

.footerCopyrights {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 10px 0;
  border-top: .5px solid #0388A6;
  color: #4c4c4c;
}

/* Landing Page */
.landVisual {
  height: 100vh;
  background-color: black;
}

.landVideo {
  display: block;
}

.landMainCont {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  color: white;
}

.landMainCont > div > h5 {
  margin-bottom: 20px;
}

.landMainCont > div > img {
  margin-bottom: 30px;
}

.bookBtn {
  margin-top: 50px;
  padding: 15px 40px;
  border-radius: 40px;
  border-style: none; 
  font-size: 18px;
  background-color: white;
  color: #0388A6;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 24px;
  transition: .4s;
}

.bookBtn:hover {
  background-color: #BF307F;
  color: white;
  transition: .4s;
}

.landAbout {
  background-color: white;
  color: black;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landAbout > p {
  width: 60%;
}

.landVenue {
  background-image: url('/images/landVenueBg.png');
  background-size: cover;
  background-position: center;
  color: white;
  height: 400px;
  display: flex;
  align-items: center;
  
  /* Parallax Effect*/
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.landVenueLogos {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
  align-items: center;
}

.landVenueLogos > li {
  width: 350px;
}

.landAff {
  padding: 60px 0;  
  background-color: white;
  color: black;
}

.landAffTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.landAffTitle > h2 {
  font-size: 50px;
  font-family: 'Do Hyeon', sans-serif;
  width: 358px;
  border-bottom: 3px solid #BF307F;
}

.affLogos {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
  align-items: center;
  margin-top: 30px;
}

.affLogos > li {
  width: 180px;
}

/* Events */
.calendar {
  background-image: url("/images/calendarBg.png");
  background-size: cover;
  background-position: center;
}

.calendarMain {
  background-color: rgb(0, 0, 0, 0.4);
  padding-top: 120px;
  padding-bottom: 70px;
}

.calendarEventTitle {
  font-size: 12px;
}

.calendarContainer {
  width: 70%;
}

.monthRow {
  margin: 10px 0;
}

.monthTitle {
  color: #0388A6 !important;
  font-size: 20px;
}

.monthNavLeft {
  text-align: left;
  color: #0388A6;
  transition: .4s;
}

.monthNavRight {
  text-align: right;
  color: #0388A6;
  transition: .4s;
}

.monthNavLeft:hover {
  color: #BF307F;
  cursor: pointer;
  transition: .4s;
}

.monthNavRight:hover {
  color: #BF307F;
  cursor: pointer;
  transition: .4s;
}

.dateDisabled {
  color: #4c4c4c !important;
}

.dateSelected {
  background-color: #BF307F !important;
  color: white !important;
}

.weekdayCell {
  padding: 5px 0;
  background-color: #282249;
  color: #0388A6;
  border: 0.5px solid #0388A6;
  font-family: 'Do Hyeon', sans-serif;
}

.dateCell {
  text-align: right;
  padding: 5px 10px;
  background-color: #151226;
  color: #0388A6;
  border: 0.5px solid #0388A6;
  height: 90px;
}

/* Event Details */
.detailsMain {
  padding-top: 140px;
  padding-bottom: 30px;
  height: 100vh;
}

.detailsGenresList {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
}

.detailsList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

/* Contact */
.contactHeader {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: left;
  background-image: url("/headerBgSample.jpg");
  font-family: 'Do Hyeon', sans-serif;
  background-position: center;
  background-size: cover;
  color: white;
  letter-spacing: 2px;
}

.contactMain {
  background-color:#011928;
  padding: 50px 0;
}

.contactFormDiv{
  display: flex;
  justify-content: center;
}

.contactForm {
  width: 35%;
}

.contactInput {
  background-color: #012941;
  border: 1px solid #0388A6;
  color: white;
  margin-bottom: 20px;
}

.contactInput:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #012941;
  border: 1px solid #BF307F;
  color: white;
}

/* Bookings */
.bookHeader {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: left;
  background-image: url("/images/bookHeadBg.png");
  background-position: 0% 90%;
  background-size: cover;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 2px;
}

.bookMain {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.bookFormDiv {
  width: 40%;
}

.bookInput {
  border: 2px solid #BF307F;
  color: black;
  margin-bottom: 20px;
}

.bookInput:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #0388A6;
  color: black;
}

.bookInput > option {
  border: 1px solid #BF307F;
}

.bookDateInput {
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #BF307F;
  border-radius: 5px;
}

.bookDateInput:focus {
  border: 2px solid #0388A6;
  border-radius: 5px;
  outline: none;
}

/* News */
.newsHeader {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: left;
  background-image: url("/images/newsHeadBg.png");
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 2px;
}

.newsList {
  padding: 50px 0;
}

.newsListCont {
  display: flex;
  justify-content: space-between;
}

.newsCard {
  width: 30%;
}

.newsCard > h5 {
  margin-top: 10px;
}

.showMoreNewsBtn {
  margin-top: 20px;
  padding: 15px 30px;
  border: 1px solid #0388A6;
  background-color: #0388A6;
  border-radius: 30px;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
}

.showMoreNewsBtn:hover {
  background-color: #BF307F;
  border: 1px solid #BF307F;
}

/* News Details */
.newsDetailsImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
}

.newsDetailsInfo {
  padding: 40px 0;
}

/* Admin General */
.adminSearch > i {
  position: absolute;
  margin-top: 12px;
  margin-left: 15px;
}

.adminSearch > input {
  border: 2px solid #0388A6;
  border-radius: 20px;
  padding-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  color: black
}

.adminSearch > input:focus {
  border: 2px solid #BF307F;
  outline: none;
}

.editBtn {
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 5px;
  color: #0388A6;
  background-color: white;
  border: 1px solid #0388A6;
  transition: .4s;
}

.editBtn:hover {
  background-color: #0388A6;
  border: 1px solid #0388A6;
  color: white;
  transition: .4s;
}

.editBtn > i {
  margin-right: 5px;
}

.deleteBtn {
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 5px;
  color: #BF307F;
  background-color: white;
  border: 1px solid #BF307F;
  transition: .4s;
}

.deleteBtn:hover {
  background-color: #BF307F;
  border: 1px solid #BF307F;
  color: white;
  transition: .4s;
}

.deleteBtn > i {
  margin-right: 5px;
}

.saveFormBtn {
  float: right;
  margin-right: 10px;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #0388A6;
  background-color: white;
  color: #0388A6;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 16px;
  transition: .4s;
}

.saveFormBtn:hover {
  background-color: #0388A6;
  border: 1px solid #0388A6;
  color: white;
  transition: .4s;
}

.closeFormBtn {
  float: right;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #BF307F;
  background-color: white;
  color: #BF307F;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 16px;
  transition: .4s;
}

.closeFormBtn:hover {
  background-color: #BF307F;
  border: 1px solid #BF307F;
  color: white;
  transition: .4s;
}

/* Admin Navbar */
.adminNavMain {
  height: 100vh;
  width: 15%;
  background-color: #151226;
  color: white;
}

.adminNavProfileImg {
  margin-top: 20px;
  border-radius: 50px;
}

.adminNavList {
  margin-top: 30px;
  list-style: none;
  padding-left: 0;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
}

.adminNavItem {
  color: #0388A6;
  transition: .4s;
}

.adminNavItem:hover {
  color: #BF307F;
  cursor: pointer;
  transition: .4s;
}

/* Admin News */
.adminNewsMain {
  display: flex;
}

.adminNews {
  margin: 20px 0;
  width: 85%;
}

.createNewsBtn {
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid #0388A6;
  background-color: #0388A6;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 18px;
  transition: .4s;
}

.createNewsBtn:hover {
  background-color: #BF307F;
  border: 1px solid #BF307F;
  transition: .4s;
}

.adminNewsListHeader {
  margin-top: 30px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 16px;
  padding: 5px 0;
}

.adminNewsList {
  padding: 5px 0;
  font-size: 14px;
}

.newsModalTitle {
  font-size: 24px;
  color: #0388A6;
  font-family: 'Do Hyeon', sans-serif;
}

/* Admin Events */
.adminEventsMain {
  display: flex;
}

.adminEvent {
  margin: 20px 0;
  width: 85%;
}

.createEventBtn {
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid #0388A6;
  background-color: #0388A6;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 18px;
  transition: .4s; 
}

.eventFormDateSelect {
  padding: 6px 35px 6px 10px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.adminEventListHeader {
  margin-top: 30px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 16px;
  padding: 5px 0;
}

.adminEventList {
  padding: 5px 0;
  font-size: 14px;
}

/* Media */
.mediaHeader {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: left;
  background-image: url("/images/mediaHeadBg.png");
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 2px;
}

.mediaVideo {
  padding: 50px 0;
}

/* Admin Media */
.adminMediaMain {
  display: flex;
}

.adminMedia {
  margin: 20px 0;
  width: 85%;
}

.createVideoBtn {
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid #0388A6;
  background-color: #0388A6;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 18px;
  transition: .4s;
}
.createVideoBtn:hover {
  background-color: #BF307F;
  border: 1px solid #BF307F;
  transition: .4s;
}

.adminMediaListHeader {
  margin-top: 30px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 16px;
  padding: 5px 0;
}

.adminMediaList {
  padding: 5px 0;
  font-size: 14px;
}

/* Home */
.homeCarousel {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.homeCarouselItem {
  height: 320px;
  overflow: hidden;
}

.homeCarouselCapt > h1 {
  text-align: left;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 100px;
}

.homeCarouselCapt > h5 {
  color: #0388A6;
  text-align: left;
  width: 150px;
  line-height: 1.6;
}

.homeCarouselCaptOther > h1 {
  text-align: right;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 100px;
}

.homeCarouselCaptOther > div {
  display: flex;
  justify-content: flex-end;
}

.homeCarouselCaptOther > div > h5 {
  width: 150px;
  color: #BF307F; 
  text-align: right;
  line-height: 1.6;
}

.homeUpcoming {
  padding: 70px 0;
  background-color: white;
}

.homeUpcoming > div {
  display: flex;
  justify-content: center;
}

.homeUpcoming > div > h2 {
  color: black;
  font-size: 50px;
  font-family: 'Do Hyeon', sans-serif;
  width: 210px;
  border-bottom: 3px solid #BF307F;
}

.homeUpcomingList {
  margin-top: 40px;
}

.upcomingCol {
  margin-bottom: 40px;
}

.upcomingCol > div {
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.upcomingCol > h6 {
  color: black;
  margin-top: 10px;
}

.pinkBtn {
  background-color: #BF307F;
  color: white;
  font-size: 20px;
  font-family: 'Do Hyeon', sans-serif;
  border: 1px solid #BF307F;
  padding: 10px 30px;
  border-radius: 30px;
  transition: .4s;
}

.pinkBtn:hover {
  background-color: #0388A6;
  border: 1px solid #0388A6;
  transition: .4s;
}

.homeLatest {
  background-color: black;
  padding: 70px 0;
}

.homeLatest > div {
  display: flex;
  justify-content: center;
}

.homeLatest > div > h2 {
  color: white;
  font-size: 50px;
  font-family: 'Do Hyeon', sans-serif;
  width: 164px;
  border-bottom: 3px solid #0388A6;
}

.latestList {
  margin: 40px 0 20px 0;
}

.homeDrinksMenu {
  padding-top: 60px;
}

.homeDrinksMenu > div {
  padding-bottom: 30px;
  color: black;
  display: flex;
  justify-content: center;
}

.homeDrinksMenu > div > h2 {
  font-size: 50px;
  font-family: 'Do Hyeon', sans-serif;
  width: 116px;
  border-bottom: 3px solid #BF307F;
}

.pastEvents {
  padding: 70px 0;
  background-color: black;
}

.pastEvents > div {
  display: flex;
  justify-content: center;
}

.pastEvents > div > h2 {
  color: white;
  font-size: 50px;
  font-family: 'Do Hyeon', sans-serif;
  width: 108px;
  border-bottom: 3px solid #0388A6;
}

.pastEventsList {
  margin-top: 40px;
}

.pastEventsCol > div {
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.pastEventsCol > h6 {
  color: white;
  margin-top: 10px;
}

.blueBtn {
  background-color: #0388A6;
  color: white;
  font-size: 20px;
  font-family: 'Do Hyeon', sans-serif;
  border: 1px solid #0388A6;
  padding: 10px 30px;
  border-radius: 30px;
  transition: .4s;
}

.blueBtn:hover {
  background-color: #BF307F;
  border: 1px solid #BF307F;
}

/* Login */
.loginMain {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151226;
}

.loginForm {
  width: 40%;
  border-radius: 20px;
  background-color: #282249;
  padding: 50px;
}

.loginForm > h1 {
  color: #0388A6;
  font-size: 50px;
  font-family: 'Do Hyeon', sans-serif;
  margin-bottom: 20px;
}

.loginForm > div > input {
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 10px;
}

.loginBtn {
  margin-top: 20px;
  color: white;
  border: 1px solid #0382A6;
  background-color: #0382A6;
  border-radius: 30px;
  padding: 10px 40px;
  font-size: 20px;
  font-family: 'Do Hyeon', sans-serif; 
  transition: .4s;
}

.loginBtn:hover {
  background-color: #BF307F;
  border: 1px solid #BF307F;
  transition: .4s;
}

/* Event Details Page*/

.genreBadge {
  background-color: #0382A6;
  color: white;
  font-size: 14px;
  font-family: 'Do Hyeon', sans-serif; 
  padding: 5px 15px;
  border-radius: 20px;
  margin-right: 10px;
}

.eventDetail > div > i {
  margin-right: 5px;
  color: #0382A6;
}

.eventDetailInfo {
  font-size: 18px;
  font-family: 'Do Hyeon', sans-serif;
}